<div class="row" style="margin-top:40px">
  <div class="col-xs-12 text-center">
    <%= form_for(@objective) do |f| %>
      <% if( @objective.name == 'Viajar') %>
        <div class="form-group">
          <label style="text-align:right" for="disabledTextInput">Para onde voce quer ir?</label>
          <input style="width:90%; margin: 0 auto; padding: 20px; margin-bottom:30px" type="text" id="disabledTextInput" class="form-control" placeholder="">
        </div>
      <% elsif( @objective.name == 'Comprar um carro') %>
        <div class="form-group">
          <label for="disabledTextInput">Qual carro voce quer?</label>
          <input style="width:90%; margin: 0 auto; padding: 20px" type="text" id="disabledTextInput" class="form-control" placeholder="">
        </div>
      <% elsif( @objective.name == 'Comprar um imóvel') %>
        <div class="form-group">
          <label for="disabledTextInput">Com que tipo de imóvel voce sonha?</label>
          <input style="width:90%; margin: 0 auto; padding: 20px" type="text" id="disabledTextInput" class="form-control" placeholder="">
        </div>
      <% elsif( @objective.name == 'Fazer faculdade') %>
        <div class="form-group">
          <label for="disabledTextInput">O que você quer estudar e onde?</label>
          <input style="width:90%; margin: 0 auto; padding: 20px" type="text" id="disabledTextInput" class="form-control" placeholder="">
        </div>
      <% elsif( @objective.name == 'Outro') %>
        <div class="form-group">
          <label for="disabledTextInput">Conte-nos o seu sonho:</label>
          <input style="width:90%; margin: 0 auto; padding: 20px" type="text" id="disabledTextInput" class="form-control" placeholder="">
        </div>
      <% end %>
      <div class="form-group">
        <label for="disabledTextInput">Quanto voce acha que vai custar?</label>
        <input style="width:90%; margin: 0 auto; padding: 20px" type="text" id="disabledTextInput" class="form-control" placeholder="">
        <%= link_to "Não sei, me diga!" , update_details_automatic_objective_path %>
      </div>
    </div>
  </div>
</div>
